#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include "zmk-helpers/helper.h"
#include "zmk-helpers/key-labels/34.h"
#include "zmk-helpers/unicode-chars/portuguese.dtsi"
#include "zmk-helpers/unicode-chars/currency.dtsi"

/*                              34 KEY MATRIX / LAYOUT MAPPING

  ╭────────────────────┬────────────────────╮ ╭─────────────────────┬─────────────────────╮
  │  0   1   2   3   4 │  5   6   7   8   9 │ │ LT4 LT3 LT2 LT1 LT0 │ RT0 RT1 RT2 RT3 RT4 │
  │ 10  11  12  13  14 │ 15  16  17  18  19 │ │ LM4 LM3 LM2 LM1 LM0 │ RM0 RM1 RM2 RM3 RM4 │
  │ 20  21  22  23  24 │ 25  26  27  28  29 │ │ LB4 LB3 LB2 LB1 LB0 │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────────╮ 30  31 │ 32  33 ╭───────────╯ ╰───────────╮ LH1 LH0 │ RH0 RH1 ╭───────────╯
              ╰────────┴────────╯                         ╰─────────┴─────────╯             */

// adjust mod-tap
&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <300>;
};

/ {

    macros {
        accent_a_tilde_macro: accent_a_tilde_macro {
            compatible = "zmk,behavior-macro";
            label = "accent_a_tilde";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp RALT &kp RSHFT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N2 &kp KP_N2 &kp KP_N7>,
                <&macro_release>,
                <&kp RSHFT &kp RALT>;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <50>;
            key-positions = <1 2>;
            bindings = <&kp ESC>;
         };
        combo_bspc {
            timeout-ms = <50>;
            key-positions = <7 8>;
            bindings = <&kp BSPC>;
        };
        combo_dot_comma {
            timeout-ms = <50>;
            key-positions = <27 28>;
            bindings = <&kp SEMICOLON>;
        };
    };


    conditional_layers {
        compatible = "zmk,conditional-layers";
        cond_layer_mgmt {
            if-layers = <1 4>;
            then-layer = <5>;
        };
    };


    keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
            //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
            //│  Q       │  W       │  F       │  P       │  B       │   │  J       │  L       │  U       │  Y       │  ' "    │
                &kp Q      &kp W      &kp F      &kp P      &kp B          &kp J      &kp L      &kp U      &kp Y      &kp APOS
            //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            //│  A       │  R       │  S       │  T       │  G       │   │  M       │  N       │  E       │  I       │  O      │
                &mt LGUI A &mt LALT R &mt LCTRL S &mt LSHFT T &kp G         &kp M      &mt LSHFT N &mt LCTRL E &mt LALT I &mt LGUI O
            //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            //│  Z       │  X       │  C       │  D       │  V       │   │  K       │  H       │ , <      │ . >      │ / ?     │
                &kp Z      &kp X    &mt &pt_c_cedilla C &kp D      &kp V          &kp K      &kp H      &kp COMMA  &kp PERIOD &kp SLASH
            //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                                &lt 1 ENTER  &lt 2 BSPC       &lt 3 SPACE  &lt 4 TAB
            //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        symb_layer {
            bindings = <
            //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
            //│   á/Á    │    à/À   │   ã/Ã    │   ô/Ô    │   ó/Ó    │   │  [ {     │  &       │  *       │  (       │  ] }    │
                &pt_aa   &pt_a_grave &pt_a_tilde &pt_o_circumflex &pt_oa   &kp LBRC   &kp AMPS   &kp ASTRK  &kp LPAR   &kp RBRC
            //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            //│  GUI     │  ALT     │  CTRL    │  SHIFT   │  ESC     │   │  +       │  $       │  %       │  ^       │  :      │
                &kp LGUI   &kp LALT   &kp LCTRL  &kp LSHFT  &kp ESC         &kp PLUS   &kp DLLR   &kp PRCNT  &kp CARET  &kp COLON
            //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            //│    €     │  RALT    │   â/Â    │  DEL     │   é/É    │   │  |       │  !       │  @       │  #       │   ~      │
             &curr_euro &kp RALT &pt_a_circumflex &kp DEL &pt_e_acute &kp PIPE   &kp EXCL   &kp AT     &kp HASH   &kp TILDE
            //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                                &none      &none          &kp UNDER  &kp RPAR
            //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        numb_layer {
            bindings = <
            //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
            //│          │          │          │          │          │   │  [       │  7       │  8       │  9       │  ]      │
                &none      &none      &none      &none      &none          &kp LBKT   &kp N7     &kp N8     &kp N9     &kp RBKT
            //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            //│  GUI     │  ALT     │  CTRL    │  SHIFT   │  , <     │   │  =       │  4       │  5       │  6       │  ;      │
                &kp LGUI   &kp LALT   &kp LCTRL  &kp LSHFT  &kp COMMA      &kp EQUAL  &kp N4     &kp N5     &kp N6     &kp SCLN
            //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            //│          │  RALT    │          │  . >     │          │   │  \       │  1       │  2       │  3       │  `      │
                &none      &kp RALT   &none      &kp PERIOD &none          &kp BSLH   &kp N1     &kp N2     &kp N3     &kp GRAVE
            //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                                &none      &none          &kp MINUS  &kp N0
            //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        navg_layer {
            bindings = <
                //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
                //│ PG UP    │ HOME     │ UP       │ END      │ INS      │   │          │          │          │          │          │
                &kp PG_UP  &kp HOME   &kp UP     &kp END    &kp INS         &kp C_BRI_UP &kp C_BRI_DEC &kp C_MUTE &kp C_VOLUME_UP &kp C_VOLUME_DOWN 
                //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
                //│ PG DN    │ LEFT     │ DOWN     │ RIGHT    │ CAPS     │   │ K_APP    │ SHIFT    │ CTRL     │ ALT      │ GUI      │
                &kp PG_DN  &kp LEFT   &kp DOWN   &kp RIGHT  &kp CAPS       &kp K_APP  &kp LSHFT  &kp LCTRL  &kp LALT   &kp LGUI
                //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
                //│ LCTRL(Z) │ LCTRL(X) │ LCTRL(C) │ LCTRL(V) │ LCTRL(Y) │   │          │LSHFT(LGUI(S))│      │play/pause│          │
                &kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(V)  &kp LC(Y)       &kp RALT      &kp LS(LG(S)) &kp C_PREV &kp C_PP  &kp C_NEXT
                //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                                    &kp ENTER  &kp BSPC       &none      &none
                //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        funt_layer {
            bindings = <
            //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
            //│  F12     │  F7      │  F8      │  F9      │  PSCRN   │   │          │          │          │          │          │
                &kp F12    &kp F7     &kp F8     &kp F9     &kp PSCRN      &none      &none      &none      &none      &none
            //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            //│  F11     │  F4      │  F5      │  F6      │  SLCK    │   │  K_APP   │  SHIFT   │  CTRL    │  ALT     │  GUI    │
                &kp F11    &kp F4     &kp F5     &kp F6     &kp SLCK       &kp K_APP  &kp LSHFT  &kp LCTRL  &kp LALT   &kp LGUI
            //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            //│  F10     │  F1      │  F2      │  F3      │  PAUSE   │   │          │  K_MUTE  │          │  RALT    │          │
                &kp F10    &kp F1     &kp F2     &kp F3     &kp PAUSE_BREAK &none      &kp K_MUTE &none      &kp RALT   &none
            //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                                &kp ENTER  &kp BSPC      &lt 5 none      &none
            //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        tri_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ RESET    │          │          │          │PROFILE 0 │   │          │          │          │          │  RESET   │
           &sys_reset  &trans     &trans     &trans    &bt BT_SEL 0    &trans     &trans     &trans     &trans    &sys_reset
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│BOOTLOADER│          │          │          │PROFILE 1 │   │          │          │          │          │BOOTLOADER│
          &bootloader  &trans     &trans     &trans    &bt BT_SEL 1    &trans     &trans     &trans     &trans    &bootloader
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │ CLEAR BT │PROFILE 2 │   │          │          │          │          │          │
            &kp H     &trans     &trans    &bt BT_CLR &bt BT_SEL 2    &trans     &trans     &trans     &trans     &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
    };    
};
