#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

// adjust mod-tap
&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <300>;
};

/ {

    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <50>;
            key-positions = <1 2>;
            bindings = <&kp ESC>;
         };
        combo_bspc {
            timeout-ms = <50>;
            key-positions = <7 8>;
            bindings = <&kp BSPC>;
        };
        combo_dot_comma {
            timeout-ms = <50>;
            key-positions = <27 28>;
            bindings = <&kp SEMICOLON>;
        };
    };


    conditional_layers {
        compatible = "zmk,conditional-layers";
        cond_layer_mgmt {
            if-layers = <1 4>;
            then-layer = <5>;
        };
    };


    keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
            //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
            //│  Q       │  W       │  F       │  P       │  B       │   │  J       │  L       │  U       │  Y       │  ' "    │
                &kp Q      &kp W      &kp F      &kp P      &kp B          &kp J      &kp L      &kp U      &kp Y      &kp APOS
            //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            //│  A       │  R       │  S       │  T       │  G       │   │  M       │  N       │  E       │  I       │  O      │
                &mt LGUI A &mt LALT R &mt LCTRL S &mt LSHFT T &kp G         &kp M      &mt LSHFT N &mt LCTRL E &mt LALT I &mt LGUI O
            //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            //│  Z       │  X       │  C       │  D       │  V       │   │  K       │  H       │ , <      │ . >      │ / ?     │
                &kp Z      &kp X      &kp C      &kp D      &kp V          &kp K      &kp H      &kp COMMA  &kp PERIOD &kp SLASH
            //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                                &lt 1 ENTER  &lt 2 BSPC       &lt 3 SPACE  &lt 4 TAB
            //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
    };

        symb_layer {
            bindings = <
            //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
            //│          │          │          │          │          │   │  [ {     │  &       │  *       │  (       │  ] }    │
                &none      &none      &none      &none      &none          &kp LBRC   &kp AMPS   &kp ASTRK  &kp LPAR   &kp RBRC
            //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            //│  GUI     │  ALT     │  CTRL    │  SHIFT   │  ESC     │   │  +       │  $       │  %       │  ^       │  :      │
                &kp LGUI   &kp LALT   &kp LCTRL  &kp LSHFT  &kp ESC         &kp PLUS   &kp DLLR   &kp PRCNT  &kp CARET  &kp COLON
            //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            //│          │  RALT    │          │  DEL     │          │   │  |       │  !       │  @       │  #       │  ~      │
                &none      &kp RALT   &none      &kp DEL    &none          &kp PIPE   &kp EXCL   &kp AT     &kp HASH   &kp TILDE
            //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                                &none      &none          &kp UNDER  &kp RPAR
            //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        numb_layer {
            bindings = <
            //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
            //│          │          │          │          │          │   │  [       │  7       │  8       │  9       │  ]      │
                &none      &none      &none      &none      &none          &kp LBKT   &kp N7     &kp N8     &kp N9     &kp RBKT
            //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            //│  GUI     │  ALT     │  CTRL    │  SHIFT   │  , <     │   │  =       │  4       │  5       │  6       │  ;      │
                &kp LGUI   &kp LALT   &kp LCTRL  &kp LSHFT  &kp COMMA      &kp EQUAL  &kp N4     &kp N5     &kp N6     &kp SCLN
            //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            //│          │  RALT    │          │  . >     │          │   │  \       │  1       │  2       │  3       │  `      │
                &none      &kp RALT   &none      &kp PERIOD &none          &kp BSLH   &kp N1     &kp N2     &kp N3     &kp GRAVE
            //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                                &none      &none          &kp MINUS  &kp N0
            //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        funt_layer {
            bindings = <
            //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
            //│  F12     │  F7      │  F8      │  F9      │  PSCRN   │   │          │          │          │          │          │
                &kp F12    &kp F7     &kp F8     &kp F9     &kp PSCRN      &none      &none      &none      &none      &none
            //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            //│  F11     │  F4      │  F5      │  F6      │  SLCK    │   │  K_APP   │  SHIFT   │  CTRL    │  ALT     │  GUI    │
                &kp F11    &kp F4     &kp F5     &kp F6     &kp SLCK       &kp K_APP  &kp LSHFT  &kp LCTRL  &kp LALT   &kp LGUI
            //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            //│  F10     │  F1      │  F2      │  F3      │  PAUSE   │   │          │  K_MUTE  │          │  RALT    │          │
                &kp F10    &kp F1     &kp F2     &kp F3     &kp PAUSE_BREAK &none      &kp K_MUTE &none      &kp RALT   &none
            //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                                &kp ENTER  &kp BSPC      &none      &none
            //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        mgmt_layer {
            bindings = <
            //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
            //│  BT_CLR  │          │          │          │          │   │          │          │  BOOT    │          │          │
                &bt BT_CLR &none      &none      &none      &none          &none      &none      &bootloader &none      &none
            //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            //│          │  BT_PRV  │          │  BT_NXT  │          │   │          │          │          │          │          │
                &none      &bt BT_PRV &none      &bt BT_NXT &none          &none      &none      &none      &none      &none
            //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
            //│          │          │          │          │          │   │          │          │          │          │          │
                &none      &none      &none      &none      &none          &none      &none      &none      &none      &none
            //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                                &none      &none          &none      &none
            //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
    };    
};
